.main-header {
    padding: 20px;
    background-color: chocolate;
    color: yellow;
    font-family: cursive;
    font-size: xx-large;
}

#start-button {
    padding: 20px;
    background-color: chocolate;
    color: yellow;
    font-family: cursive;
    font-size: xx-large;
    border: #f0e1ff solid thin;
}